html {
  background-color: rgba(0, 0, 0, 0.63);
}

div.App {
  background-color: rgba(0, 0, 0, 0.63);
}

.main-cont {
  margin-top: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
}

.submitReview {
  /* background-color: var(--purp); */
  color: #d1a41a;
  background-color: rgba(0, 0, 0, 0.293);
  /* padding: 1px 3px 1px 2px; */
  /* margin-top: 10px; */
  /* padding: -100px; */
  font-weight: bold;
  border-radius: 10px;
  border: 2px solid #fff;
  margin-left: 12px;
}

.submitReview:hover {
  color: #d1a41a;
  background-color: rgba(0, 0, 0, 0.293);
  padding-top: 0.475rem;
  border: 1px solid #d1a41a;
}

.form-container {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.add-rev-form {
  background-color: rgba(0, 0, 0, 0.686);
  width: 300px;
  border-radius: 10px;
  padding-bottom: 20px;
}

.form-label {
  padding-top: 15px;
}

.form-field {
  display: flex;
  width: 250px;
  height: 200px;
}

.form-field-wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.form-group {
  display: block;
  margin: auto;
}
.form-label-wrap {
  display: flex;
  justify-content: center;
  text-align: center;
}
