.search {
  padding-top: 30px;
  padding-bottom: 30px;
}

.searchBtn {
  background-color: var(--purp);
  color: #fff;
  padding: 5px 9px 5px 9px;
  margin-top: 10px;
  font-weight: bold;
  border-radius: 10px;
  border: 2px solid #fff;
}

.searchBtn:hover {
  text-decoration: underline;
  background-color: var(--purp);
  border: 2px solid #fff;
}

.hover-effect {
  text-decoration: none;
  color: #ff1874;
  font-weight: 640;
}
/* Apply the hover effect only when the screen width is above a certain threshold, e.g., 600px */
@media (min-width: 600px) {
  .hover-effect:hover {
    font-weight: 690; /* Increase font size on hover */
  }
}
