.review-wrap {
  /* border: 4px solid red; */
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  background-color: rgba(0, 0, 0, 0.488);
}

.large-wrap {
  background-color: #2a2a2a;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.large-wrap::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

@media (min-width: 1100px) {
  .review-wrap {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .large-wrap {
    display: flex;
    flex-grow: 0; /* Do not allow the movie card to grow */
    flex-shrink: 0; /* Do not allow the movie card to shrink */
    flex-basis: auto; /* Base size on content */
    overflow: auto; /* Add scroll for overflow */
    max-height: 800px;
    flex-direction: row;
    justify-content: center;
    padding-left: 30%;
    /* Example max height */
  }
  .card-bg {
    /* margin-left: 300px;
    margin-right: 100px;
    */
    margin-top: 22px;
    display: flex;
    justify-content: center;
    background-color: #36454f;
  }

  .review-cont {
    flex-grow: 1;
    margin-right: 200px;
  }

  /* .rev-body {
    height: 200px;
  } */
}

@media (min-width: 1100px) {
  .large-wrap {
    padding-left: 20%;
  }
}

.review-cont {
  /* border: 4px solid blue; */
  display: flex;
  flex-direction: column;
}

.card-img-1 {
  width: 300px;
  height: 300px;
}

.card-bg {
  background-color: #36454f;
  color: #fff;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card-bg {
  border-radius: 15px;
  width: 18rem;
  margin-bottom: 20px;
}

.card-img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.hover-effect {
  text-decoration: none;
  color: #fff;
  /* background-color: #4c0bce; */
  font-weight: 640;
  padding: 5px 10px;
  transition: 0.1s ease;
  border-radius: 7px;
}
/* Apply the hover effect only when the screen width is above a certain threshold, e.g., 600px */
@media (min-width: 600px) {
  .hover-effect:hover {
    font-weight: 690; /* Increase font size on hover */
  }
}

.rev-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* border: 5px solid purple; */
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.card-wrapper {
  display: flex;
  justify-content: center;
}

.add-rev {
  color: #d1a41a;
  background-color: rgba(0, 0, 0, 0.293);
  font-weight: bold;
  border-radius: 10px;
  border: 2px solid #fff;
  text-decoration: none;
  font-size: 20px;
  transition: 0.3s ease;
}

.add-rev:hover {
  /* background-color: var(--purp); */
  background-color: rgba(0, 0, 0, 0.293);
  border: 2px solid #d1a41a;
  color: #fff;
}

.card-h5 {
  background-color: rgba(0, 0, 0, 0.293);
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  padding-right: 10px;
  padding-left: 10px;
  border: 1px solid #d1a41a;
}

.rev-body {
  background-color: #36454f;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  margin-bottom: 10px;
  /* border: 1px solid purple; */
  width: 200px;
}

.rev-body-wrap {
  display: flex;
  justify-content: center;
  background-color: #36454f;
  border: 1px solid #fff;
  padding-bottom: 10px;
  border-radius: 8px;
  width: 400px;
}

.edit-del {
  color: #d1a41a;
  text-decoration: none;
  transition: 0.3s ease;
  /* border: 3px solid #fff; */
  text-align: center;
}

.edit-del:hover {
  color: #fff;
}

.edit {
  color: #d1a41a;
  text-decoration: none;
  transition: 0.3s ease;

  text-align: center;
  margin-top: 7px;
}

.edit:hover {
  color: #fff;
}
